{% extends 'base.html' %} {% block content %} {% load crispy_forms_tags %}

<div class="container-fluid" id="pageform">
  <div class="row justify-content-center">
    <div id="lrform" class="col-sm-11 col-md-10 col-lg-5">
      <h1>Logowanie</h1>
      <form method="POST">
        {% csrf_token %} {{ login_form|crispy }}
        <br />
        <button class="btn btn-block btn-primary" type="submit">Zaloguj się</button>
      </form>
      <p class="text-center">
        Nie masz konta? <a href="/register">Zarejestruj się</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
