{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="row justify-content-evenly">
    <div id="myBoard" class="col-sm-10 col-md-10 col-lg-5"></div>
    <div class="col-sm-10 col-md-10 col-lg-5" id="myinfo">
      <div class="align-middle d-lg-block">
        <div class="info">
          <label>Kod Zaproszenia:</label>
          <div id="invitecode">{{invite.pk}}</div>
          <label>Status:</label>
          <div id="status"></div>
          <label>FEN:</label>
          <div id="fen"></div>
          <label>PGN:</label>
          <div id="pgn"></div>
          <label>Przeciwnik</label>
          <div id="oponentusername"> </div>
          <form action="" method="post" id="invform">
            {% csrf_token %} {{ form }}
            <button id="hiddenbutton" type="submit" value="test" class="btn btn-primary btn-lg btn-block">
              Powrót do menu
            </button>
        </div>
      </div>
    </div>
  </div>
  <script src="{% static 'scripts/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'scripts/chessboard-1.0.0.min.js' %}"></script>
  <script src="{% static 'scripts/szaszki.js' %}"></script>
  {{ room_name|json_script:"room-name" }}
  {{ user.username|json_script:"username" }}
  {{user.pk|json_script:"usr_id"}}
  {{ invite.invitor_color|json_script:"invitor_color"}}
  {{ invite.invitor.username|json_script:"invitor_username" }}
  <script src="{% static 'scripts/og.js' %}"></script>
</div>
{% endblock %}